@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,800")

* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
  background-color: #89bfd3;
  opacity: .9;
  color: #190a0a;
  font-family: 'Raleway', sans-serif;
  line-height: 190%;
  text-align: center;
}
h1  {
    font-size: 250%;
    padding: 5% 0;
    text-align: center;
    color: #190a0a;
    margin-bottom: -8%;
}
h2  {
    font-size: 160%;
    color: #190a0a;
    padding: 2% 0;
}
h3  {
    font-size: 190%;
    padding: 5% 0;
    color: #190a0a;
    margin-left: 2%;
    margin-top: -2%;
}
h4  {
    font-size: 170%;
    padding: 5% 0;
    color: #190a0a;
}
h5  {
    font-size: 120%;
    color: #959595;
}
h6  {
    color: #190a0a;
    font-size: 80%;
    line-height: 100%;
    text-align: center;
    padding-top: 5%;
}
img {
    max-width: 100%;
}
/* Header Section - menu buttons */
header  {
    background-color: #89bfd3;
    max-height: 100px;
    padding-top: 2%;
    position: relative;
    z-index: 1000;
    width: 100%;
    opacity: .8;
    top: 0;
    left: 0;
}
#header-inner {
    max-width: 1200px;
    margin: 0 auto;
    background: #89bfd3;
}
nav {
    float: right;
    width: 35%;
    padding: 35 25 0 0;
}
#menu-icon {
    background: url(img/icon.png) center;
    width: 40px;
    height: 34px;
    display: hidden;
}
button  {
    border-radius: 70%;
    background-color: white;
    border: 4px solid #d1caca;
    box-shadow: 5px 5px 3px #595454;
    margin-right: 5%;
}
ul  {
    list-style: none;
}
nav ul li {
    font-family: 'Raleway';
    display: inline-block;
    padding: 10px;
    float: left;
    font-size: 150%;
}
nav ul li a {
    color: #190a0a;
    text-decoration: none;
    font-weight: 400;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 5%;
}
a:hover, .current {
    color: #76bcb9;
}
 /* Start title/article/aside section */
#home {
    width: 100%;
    height: 700px;
    padding-top: 8%;
    background-color: #89bfd3;
    margin: 0 auto;
}
.title  {
    width: 60%;
    height: auto;
    padding-bottom: 1%;
    margin-left: 5%;
}
.title-one {
    font-size: 400%;
    font-family: 'Raleway';
    color: #190a0a;
    line-height: 110%;
    text-align: left;
    float: left;
}
.title-two  {
    font-size: 180%;
    margin-top: 1%;
    font-family: 'Raleway';
    color: #190a0a;
    text-align: left;
    float: left;
}
.title-three {
    width: 100%;
    font-size: 135%;
    text-align: left;
    font-family: 'Raleway';
    color: #190a0a;
}
.oval-image {
    width: 250px;
    height: auto;
    margin-top: 12%;
    border-radius: 70%;
    box-shadow: 4px 4px 2px #595454;
    float: right;
    margin-right: 6%;
}
.container2 {
  background-image: url(img/farm.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 84%;
  height: 700px;
  z-index: 1;
  margin-top: 25%;
  margin-left: 8%;
}
.about1 {
    font-size: 225%;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-top: 12%;
    padding-bottom: 5%;
    margin-left: 5%;
}
.about3 {
    font-size: 175%
    color: black;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
}
/* end of navigation and header styling */
 .clearfix {
     clear: both;
     padding: 2%;
 }
/* Skills and Experience section */
.container {
    background-image: url(img/desktop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 600px;
    z-index: 1;
    margin-top: 40%;
}
.one-third {
    width: 30%;
    height: 35%;
    float: left;
}
.square {
    margin: -10% 0 3% 37.5%;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 5%;
    margin-left: 55%;
}
.one-third h3 {
    margin-top: 55%;
    margin-left: 38%;

}
.one-third i {
  	color: #89bfd3;
    opacity: .7;
  	font-size: 400%;
  	padding: 20%;
}
.dev-skills li {
    font-size: 170%;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-left: 28%;
    margin-top: -8%;
    margin-bottom: -11%;
    z-index: 100;
}
  /* start styling projects section */
#projects h1 {
    margin-top: 7%;
}
.one-third-one {
    width: 30%;
    display: inline-block;
}
.one-third-one img {
    height: 300px;
    width: 90%;
	  padding: 2%;
    background-color: white;
    margin-left: 2%;
    display: inline-block;
    box-shadow: 6px 6px 3px #595454;
}
.one-third-one h3 {
    margin-top: 5%;
    margin-bottom: -10%;
}
p  {
  	font-family: 'Raleway', sans-serif;
    color: #190a0a;
  	text-align: center;
  	font-size: 110%;
    padding: 2%;
    margin-top: 3%;
}
p .smaller {
    text-align: center;
}
/* beginning footer section */
footer {
  	background: #333;
  	overflow: hidden;
    opacity: .7;
}
#footer-inner {
  	max-width: 1200px;
    height: 250px;
  	margin: 0 auto;
}
#footer-third {
  	width: 33%;
    border-right: 2px solid #d1caca;
    height: 250px;
}
#footer-third h3 {
    color: #d1caca;
    text-align: center;
    margin-top: 8%;
    margin-left: -5%;
}
#footer-third p {
    color: #d1caca;
}
.social li {
    display: inline;
}
.social i {
    font-size: 275%;
    color: #d1caca;
    padding-left: 1.5%;
    padding-right: 5%;
    margin-top: -19%;
    box-sizing: border-box;
}
.social i:hover {
	  color: #7eddd9;
}





















#footer-third-last {
    width: 33%;
    height: 250px;
}
#footer-third-last h3 {
    text-align: left;
    margin-top: 8%;
    color: #d1caca;
}
#footer-third-last a {
    color: #d1caca;
    text-decoration: none;
}
#footer-third-last a:hover {
    color: #7eddd9;
}
/* footer second start */

.second p {
    font-size: 90%;
    color: #d1caca;
  	text-align: center;
    opacity: .6;
    border-top: 2px solid #d1caca;
}

/* Media Queries start */

@media screen and (max-width: 778px) {
		header {
			position: absolute;
      width: 100%;
      height: 300px;
		}
		#menu-icon {
			display: inline-block;
		}
		nav:hover ul {
			display: block;
		}
		nav ul, nav:active ul {
			display: none;
			z-index: 1000;
			position: absolute;
			background-color: #7eddd9;
			width: 50%;
			padding: 20px;
			right: 20px;
			top: 60px;
			border: 1px solid #fff;
			border-radius: 4px 0 4px 4px;
		}
    nav li {
			text-align: center;
			width: 90%;
		}
    li.title-one {
      font-size: 350%;
      width: 100%;
      line-height: 110%;
      margin-top: 5%;
    }
    li.title-two  {
        font-size: 185%;
        line-height: 110%
        width: 100%;
    }
    li.title-three {
        font-size: 120%;
        width: 100%;
        margin-bottom: 20%;
    }
    #about {
        width: 80%;
    }
    li.span  {
        display: none;
    }
    .container2 {
      width: 100%;
      height: 400px;
      z-index: 1;
      margin-top: 21%;
      margin-left: -.1%;
      margin-right: 2%;
    }
    .container2 p {
        font-size: 140%;
    }
    .container2 li {
        text-align: left;
        width: 80%;
        margin-bottom: -2%;
        margin-left: 10%;
    }
    .oval-image {
        display: none;
    }
    .one-third {
        width: 29.5%;
        float: left;
    }
    .container {
        margin-top: 40%;
    }
    .container h3 {
        margin-top: 40%;
    }
    .square {
        margin-left: 46%;
    }
    .one-third i {
      	color: #76bcb9;
        opacity: .9;
      	font-size: 400%;
      	padding: 20%;
    }
    .dev-skills li  {
      font-size: 150%;
      margin-left: 5%;
      margin-top: 1%;
    }
/* projects section styling */
    #projects h6 {
        text-align: center;
        width: 60%;
        margin-left: 20%;
    }
    .one-third-one {
        width: 94%;
        margin-right: 2%;
    }
    .one-third-one img {
        height: 400px;
        width: 94%;
    	  padding: 2%;
    }
		h4	{
			font-size: 140%;
		}
    #footer-third {
      width: 100%;
      border-bottom: 2px solid #d1caca;
    }
    #footer-third h5 {
      margin-left: 4%;
    }
    #footer-third h3 {
      text-align: center;
      margin-left: -4%;
      margin-bottom: -4%;
    }
    .social li {
    	  display: inline;
        padding-right: 3%;
    }
    .social i {
      	font-size: 275%;
        padding: 0% 4%;
    }
    #footer-third-last {
      width: 100%;
      border-bottom: 2px solid #d1caca;
    }
    #footer-third-last h3 {
      margin-top: 4%;
      margin-left: 43%;
      margin-bottom: 3%;
    }
    .second p {
        border: none;
    }
}









@media screen and (max-width: 482px) {

		h3 {
			font-size: 150%;
		}
		p  {
			font-size: 100%;
			margin: 2%;
		}
		h4	{
			font-size: 115%;
		}
    .title-one {
        font-size: 110%;
        line-height: 110%
        padding: 5%;
        margin-bottom: 5%;
        margin-left: -3%;
        width: 100%;
    }
    .title-two {
        font-size: 50%;
        width: 100%
        padding: 3%;
    }
    .container h3 {
        display: none;
    }
    .container img {
        height: 650px;
    }
    .title-three {
        font-size: 75%;
        padding: 3%;
        width: 100%;
    }
    .square {
        margin-left: 22%;
        margin-top: 8%;
    }
    .dev-skills li {
        margin-left: -3%;
        margin-top: 20%;
    }
    .square {
        margin-left: 22%;
    }
    .one-third-one img {
        height: 250px;
        width: 96%;
    }
    .social i {
        font-size: 40px;
        display: inline-block;
    }
    .background {
        border: none;
    }
    h5  {
        text-align: center;
    }
    #footer-third {
        padding: 10% 10% 10% 5%;
        box-sizing: border-box;
        border-bottom: 2px solid #d1caca;
    }
    #footer-third-last h3 {
	      text-align: center;
		}
    .second p {
        margin-bottom: 2%;
    }
